.formularioDeIngreso
{
      margin: auto;
      width: 50%;
      height: 50%;
      padding: 10px;
      text-align: center !important;
      vertical-align: middle;

}

.h1
{
  text-align: center !important;
}
